meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no")

<!--[if IE]>
meta(http-equiv='X-UA-Compatible', content="IE=edge")
<![endif]-->
meta(http-equiv='X-UA-Compatible', content="IE=edge")


title #{title}
meta(name="keywords" content="")
meta(name="description" content="")

link(rel="stylesheet", href="./fonts/lemontuesday/lemontuesday.css")
link(rel="stylesheet", href="./css/main.css")
link(rel="stylesheet", href="./libs/bootstrap4-grid-customized/custom-grid.css")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600i|Roboto+Slab:400,700&amp;subset=cyrillic-ext" rel="stylesheet")

//- Яндекс карта
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

<!--[if lt IE 9]>
script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
<![endif]-->
