.advantage {
	// margin-top: 650px;
	.section-title-2:before,
	.section-title-2:after {
		display: none;
	}
	// @media(min-width: 1152px) {
	// 	margin-top: 800px;
	// }
}
.advantage-wrapper  {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 65px;
}
.advantage-item {
	width: 100%;
	padding-bottom: 35px;
	@media(min-width: 768px) {
		width: 30%;
	}
	@media(min-width: 1152px) {
		width: 20%;
		padding-left: 50px;
	}

}

.advantage-img {
	width: 77px;
	margin: 0 auto;
	padding-bottom: 25px;
	height: 75px;
}
.advantage-text {
	text-align: center;
}