.feedback-wrapper {
	background-image: url(../../img/bg/cta.jpg);
	background-size: cover;
	height: auto;
	width: 100%;
	// padding-left: 15px;
	// padding-right: 15px;
	padding-top: 53px;
	padding-bottom: 53px;
	@media(min-width: 768px) {
		// padding-left: 23px;
		// padding-right: 23px;
		padding-bottom: 83px;
		padding-top: 75px;
	}
}
.feedback-title-block {
	position: relative;
	display: inline-block;
	@media(min-width: 768px) {
		margin-left: 23px;
	}
}
.feedback-title-sup {
	color: @white;
	position: absolute;
	top: -28px;
	left: 10px;
	@media(min-width: 768px) {
		left: 0;
	}
}
.feedback {
	.section-title-2:before,
	.section-title-2:after {
		display: none;
	}
	.section-title-2 {
		margin-left: 13px;
		color: @white;
		@media(min-width: 768px) {
			margin-left: 0;
		}
	}
	.section-title {
		text-align: center;
	}
}
.feedback-fields {
	display: flex;
	flex-direction: column;
	@media(min-width: 768px) {
		flex-direction: row;
	}

}
.feedback-name,
.feedback-phone,
.feedback-submit {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	@media(min-width: 768px) {
		width: 220px;
		height: 38px;
	}
	@media(min-width: 1440px) {
		margin-left: 0;
		margin-right: 0;
	}
}
.feedback-name {
	margin-bottom: 20px;
	@media(min-width: 1440px) {
		margin-right: 39px;
	}
}
.feedback-phone {
	margin-bottom: 38px;
	@media(min-width: 1440px) {
		margin-right: 46px;
	}
}
.feedback-submit {
	margin-bottom: 22px;
	color: @white;
	background-color: @btnOrder;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	height: 47px;
}
.feedback-privacy-policy {
	color: @white;
	font-size: 12px;
	text-align: center;
	@media(min-width: 768px) {
		text-align: left;
		margin-left: 23px;
	}
}
.feedback [type=text], .feedback [type=phone] {
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid @white;
	color: @white;
	padding: 14px;
	&:focus {
		background-color: rgba(255, 255, 255, 0.3);
	}
	&:filled {
		
	}
}
.feedback [type=text] {
	@media(min-width: 1440px) {
		margin-left: 23px;
	}
}