section.cart-goods
	.container
		.section-title-2 Корзина
		.table-row--header
			.container
				.row.table-row--header-content
					.col-md-5.offset-md-0.offset-xl-1.col-xl-4
						h4.table-title Наименование товара

					.col-md-2.col-xl-2
						h4.table-title.text-center Количество
					.col-md-2.col-xl-1
						h4.table-title.text-center Цена
					.col-md-2.col-xl-1.offset-lg-0.offset-xl-1
						h4.table-title.text-center Сумма

		.table-row
			.container
				.row
					.col-9.col-md-5.offset-md-0.col-xl-4.offset-xl-1
						.table-row__item.table-row__item--good.d-flex
							.table-good__img
								img(src="../img/pizza/pizza1.jpg", alt="заказ")
							.table-good__descrition
								.table-good__descrition__title Суппер-пуппер пицца
								.table-good__descrition__text помидоры, огурцы, лук, курица,соус барбекю, сыр пармезан

					.col-2.col-md-2.col-xl-2
						.table-row__item.table-row__item--count
							input(type="text" value ='2')
							span.good-count-name шт.
					.col-1.order-md-5.col--del
						.table-row__item.table-row__item--del
							i.fas.fa-times

					.col-3.col-md-2.col-xl-1
						.table-row__item.table-row__item--price 150 РУБ.


					.col-12.offset-md-0.order-md-3.col-md-2.col-xl-1.offset-lg-0.offset-xl-1.table-row__mobile-summ
						.table-row__item.table-row__item--summ 300 РУБ.
		.table-row
			.container
				.row
					.col-9.col-md-5.offset-md-0.col-xl-4.offset-xl-1
						.table-row__item.table-row__item--good.d-flex
							.table-good__img
								img(src="../img/pizza/pizza1.jpg", alt="заказ")
							.table-good__descrition
								.table-good__descrition__title Суппер-пуппер пицца
								.table-good__descrition__text помидоры, огурцы, лук, курица,соус барбекю, сыр пармезан

					.col-2.col-md-2.col-xl-2
						.table-row__item.table-row__item--count
							input(type="text" value ='2')
							span.good-count-name шт.
					.col-1.order-md-5.col--del
						.table-row__item.table-row__item--del
							i.fas.fa-times

					.col-3.col-md-2.col-xl-1
						.table-row__item.table-row__item--price 150 РУБ.


					.col-12.offset-md-0.order-md-3.col-md-2.col-xl-1.offset-lg-0.offset-xl-1.table-row__mobile-summ
						.table-row__item.table-row__item--summ 300 РУБ.
		.table-row
			.container
				.row
					.col-9.col-md-5.offset-md-0.col-xl-4.offset-xl-1
						.table-row__item.table-row__item--good.d-flex
							.table-good__img
								img(src="../img/pizza/pizza1.jpg", alt="заказ")
							.table-good__descrition
								.table-good__descrition__title Суппер-пуппер пицца
								.table-good__descrition__text помидоры, огурцы, лук, курица,соус барбекю, сыр пармезан

					.col-2.col-md-2.col-xl-2
						.table-row__item.table-row__item--count
							input(type="text" value ='2')
							span.good-count-name шт.
					.col-1.order-md-5.col--del
						.table-row__item.table-row__item--del
							i.fas.fa-times

					.col-3.col-md-2.col-xl-1
						.table-row__item.table-row__item--price 150 РУБ.


					.col-12.offset-md-0.order-md-3.col-md-2.col-xl-1.offset-lg-0.offset-xl-1.table-row__mobile-summ
						.table-row__item.table-row__item--summ 300 РУБ.
section.cart-order
	.container
		.section-title-2 Оформить заказ

		.order-block
			form.contact-form(action="")
				.container
					.row
						.col-md-4.offset-md-0.col-xl-3.offset-xl-1
							.form-group
								label.form-group__label Имя
								input(type="text" name='urer-name' class="form-input")
							.form-group
								label.form-group__label Телефон
								input(type="text" name='user-phone' class="form-input")
						.col-md-7.col-xl-6.offset-md-1
							label.form-group__label Адрес
							textarea.address-field(name="user-address", cols="20", rows="4")
					.row
						.col-12.offset-0.offset-md-0.col-xl-10.offset-xl-1
							.form-group
								label.form-group__label Комментарий
								textarea.address-field(name='urer-comment' rows="1")
		.table-row--footer
			a.header-btn(href="") Оформить заказ
