footer.footer
	.container
		.footer-menu
			.row
				.col-md-1
					ul.footer-menu-list.footer-menu-list__types
						a(href="#") Суши
						a(href="#") Гунканы
						a(href="#") Инари
						a(href="#") Супы
						a(href="#") Салаты
						a(href="#") Горячие закуски
						a(href="#") Десерты
						a(href="#") Напитки
						a(href="#") Дополительно
				.col-md-4.offset-md-1
					.footer-menu-list.footer-menu-list__good
						.footer-menu-list__title Сеты
						.footer-menu-list__row
							.footer-menu-list-col.width-fix
								a(href="") До 500 руб.
								a(href="") До 1000 руб. (для двоих)
								a(href="") До 1500 руб (для двоих - троих)
								a(href="") До 2000 руб (большая кампания)
								a(href="") от 2000 руб (очень большая кампания)
							.footer-menu-list-col.pl-20
								a(href="") С угрем
								a(href="") Горячие
								a(href="") Запеченые
								a(href="") Суши
				.col-md-2
					.footer-menu-list.footer-menu-list__good
						.footer-menu-list__title Роллы
						.footer-menu-list__row
							.footer-menu-list-col.width-fix
								a(href="") Традиционные/Классические
								a(href="") Простые
								a(href="") Теплые
								a(href="") Запеченые
								a(href="") Вегитарианские
				.col-md-2
					.footer-menu-list.footer-menu-list__good
						.footer-menu-list__title Вок
						.footer-menu-list__row
							.footer-menu-list-col.width-fix
								a(href="") Яичная
								a(href="") Удон
								a(href="") Гречневая
								a(href="") Стеклянная
								a(href="") Рис
				.col-md-2
					.footer-menu-list.footer-menu-list__good
						.footer-menu-list__title Пицца
						.footer-menu-list__row
							.footer-menu-list-col.width-fix
								a(href="") Мясная
								a(href="") Рыбная
								a(href="") Сырная
								a(href="") Вегитарианская
		.footer-bottom
			.footer-bottom-col
				.footer-copiryte МИЮШИ &copy; 2017
				a(href="#").footer-text Соглашение на обработку персональных данных
			.footer-social
				a(href="#").icon-social.icon-social--vk
					img(src="img/social/instagram.png", alt="instagram")
				a(href="#").icon-social.icon-social--vk
					img(src="img/social/vk.png", alt="vk")
				a(href="#").icon-social.icon-social--vk
					img(src="img/social/facebook.png", alt="facebook")


