.header-content
	.owl-carousel.header-slider
		//- slider item 1
		.owl-carousel-item
			.owl-carousel-item-1.carousel-item(style="background-repeat: no-repeat; background-size: cover;background-position: center;")
		//- slider item 1
		.owl-carousel-item
			.owl-carousel-item-2.carousel-item(style="background-repeat: no-repeat; background-size: cover;background-position: center;")
		//- slider item 1
		.owl-carousel-item
			.owl-carousel-item-3.carousel-item(style="background-repeat: no-repeat; background-size: cover;background-position: center;")


	.header-text
		.container
			.header-text-box
				h1.title-1 Счастливые #[br] часы
				.work-mode с 11:00 до 16:00 в будние дни
				a(href="#").header-btn Подробнее
				.header-text__discount
					span скидка
					span 15%
