section#new-product.new-product
	.new-product-wrapper
		.container
			.new-product-toggle
				span.active Новинки
				span Акции

			.owl-carousel.goods-slider
				.owl-carousel-item
					+good-card('new/new1', 'Кунсей батакон', '8шт', '250г.', '350kKal', '260','','new')
				.owl-carousel-item
					+good-card('new/new2', 'Унаги диру', '8шт', '960г.', '800kKal', '280','fire','new')

				.owl-carousel-item
					+good-card('new/new3', 'Филадельфия', '8шт', '450г.', '400kKal', '280','','new')

				.owl-carousel-item
					+good-card('new/new4', 'Мексиканский', '8шт', '460г.', '490kKal', '290','','new')
				.owl-carousel-item
					+good-card('new/new1', 'Кунсей батакон', '8шт', '250г.', '350kKal', '260','','new')
				.owl-carousel-item
					+good-card('new/new2', 'Унаги диру', '8шт', '960г.', '800kKal', '280','fire','new')

				.owl-carousel-item
					+good-card('new/new3', 'Филадельфия', '8шт', '450г.', '400kKal', '280','','new')

				.owl-carousel-item
					+good-card('new/new4', 'Мексиканский', '8шт', '460г.', '490kKal', '290','','new')
