section#pizza.pizza
	.pizza-wrapper
		+section-title('Пицца')
		.container
			.owl-carousel.goods-slider
				.owl-carousel-item
					+good-card('pizza/pizza1', 'Баварский', '33см', '680г.', '1350kKal', '480')

				.owl-carousel-item
					+good-card('pizza/pizza2', 'Вегетарианская', '33см', '755г.', '1800kKal', '380','fire')

				.owl-carousel-item
					+good-card('pizza/pizza3', 'Пепперони', '33см', '615г.', '1400kKal', '450')

				.owl-carousel-item
					+good-card('pizza/pizza4', 'Классическая', '33', '590г.', '1490kKal', '390')
				.owl-carousel-item
					+good-card('pizza/pizza1', 'Баварский', '33см', '680г.', '1350kKal', '480')

				.owl-carousel-item
					+good-card('pizza/pizza2', 'Вегетарианская', '33см', '755г.', '1800kKal', '380','fire')

				.owl-carousel-item
					+good-card('pizza/pizza3', 'Пепперони', '33см', '615г.', '1400kKal', '450')

				.owl-carousel-item
					+good-card('pizza/pizza4', 'Классическая', '33', '590г.', '1490kKal', '390')