section#rolls.rolls
	.rolls-wrapper
		+section-title('Роллы')
		.container
			.owl-carousel.goods-slider
				.owl-carousel-item
					+good-card('roll/roll1', 'Кунсей батакон', '8шт', '250г.', '350kKal', '260')
				.owl-carousel-item
					+good-card('roll/roll2', 'Унаги диру', '8шт', '960г.', '800kKal', '280','hit')

				.owl-carousel-item
					+good-card('roll/roll3', 'Филадельфия', '8шт', '450г.', '400kKal', '280')

				.owl-carousel-item
					+good-card('roll/roll4', 'Мексиканский', '8шт', '460г.', '490kKal', '290')
				.owl-carousel-item
					+good-card('roll/roll1', 'Кунсей батакон', '8шт', '250г.', '350kKal', '260')

				.owl-carousel-item
					+good-card('roll/roll2', 'Унаги диру', '8шт', '960г.', '800kKal', '280','hit')

				.owl-carousel-item
					+good-card('roll/roll3', 'Филадельфия', '8шт', '450г.', '400kKal', '280')

				.owl-carousel-item
					+good-card('roll/roll4', 'Мексиканский', '8шт', '460г.', '490kKal', '290')