section#rolls.rolls
	.rolls-wrapper
		+section-title('Сеты')
		.container
			.owl-carousel.goods-slider
				.owl-carousel-item
					+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '2050')

				.owl-carousel-item
					+good-card('set/set2', 'Сет № 8', '24шт', '960г.', '800kKal', '1590')

				.owl-carousel-item
					+good-card('set/set3', 'Минисет № 5', '14шт', '450г.', '400kKal', '510')

				.owl-carousel-item
					+good-card('set/set4', 'Сет № 6', '16шт', '460г.', '490kKal', '400')
				.owl-carousel-item
					+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '2050')

				.owl-carousel-item
					+good-card('set/set2', 'Сет № 8', '24шт', '960г.', '800kKal', '1590')

				.owl-carousel-item
					+good-card('set/set3', 'Минисет № 5', '14шт', '450г.', '400kKal', '510')

				.owl-carousel-item
					+good-card('set/set4', 'Сет № 6', '16шт', '460г.', '490kKal', '400')