.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк

	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")

	.left-panel__section
		p.strong База
		.left-panel-nav
			+linkLeftPanel("Цвета", "colors.html")
			+linkLeftPanel("Иконки", "icons.html")

	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Header-top", "header-top.html")

#ui-nav-toggle Скрыть/Показать навигацию
