.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк

	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")

	.left-panel__section
		p.strong База
		.left-panel-nav
			+linkLeftPanel("Цвета", "colors.html")
			+linkLeftPanel("Иконки", "icons.html")

	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Компоненты", "page-components.html")
			+linkLeftPanel("Header-top", "header-top.html")
			//-+linkLeftPanel("Header-slider", "header-slider.html")
			+linkLeftPanel("Карточка товара", "good-cards.html")
			+linkLeftPanel("Слайдер товаров", "goods-slider.html")
			+linkLeftPanel("Мобильное меню", "_mobile-menu.html")
			+linkLeftPanel("Карточка с отзывом", "_review-card.html")
			+linkLeftPanel("О компании", "about-company")
			+linkLeftPanel("Форма авторизации", "login-form.html")



	.left-panel__section
		p.strong Секции
		.left-panel-nav
			+linkLeftPanel("Навигационное меню", "nav-menu.html")
			+linkLeftPanel("Преимущества", "advantage.html")
			+linkLeftPanel("Обратная связь", "feedback.html")
			+linkLeftPanel("Footer", "footer.html")



	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Главная страница", "_main.html")

#ui-nav-toggle Скрыть/Показать навигацию
