.header-slider.owl-carousel{
	.owl-dots{
		position: relative;
		top: -60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button.owl-dot{
		width: 13px;
		height: 13px;
		border: 2px solid rgb(194, 194, 194);
		border-radius: 50%;
		background-color: transparent;
		margin-right:24px;

		&:last-child{margin-right:0px;}
		&.active{background-color: @actievDot}
	}

	.owl-nav{
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		padding-right: 7.5vmax;
		padding-left: 7.5vmax;
		position: absolute;
		display: flex;
		justify-content: space-between;
		button.owl-next,
		button.owl-prev {
			width: 53px;
			height: 53px;
			&:hover{opacity: .6;}
		}
		button.owl-next{background:url(../img/icons/right-round.png) no-repeat center; }
		button.owl-prev{background:url(../img/icons/left-round.png) no-repeat center; }
	}
}

