// Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.
// Преимущества

// модальное меню
mixin modalWindow(title)
	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h4#myModalLabel.modal-title #{title}
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					block
				.modal-footer
					button.btn.btn-primary.modal-btn(type='button') Отправить