extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Корзина товаров';
	- var pageClass= "index-page";

block content

	include ../sections/_header-top.pug
	include ../sections/_nav-menu.pug

	//- include ../sections/_cart-page.pug
	include ../sections/_footer.pug
