extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Блок преимущества';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui
			.ui-title Блок преимущества
				include ../../sections/_about-company.pug