.section#feedback.feedback
	.container-fluid
		.feedback-wrapper
			.row
				.col-xl-8.offset-xl-4
					.feedback-title-block
						.feedback-title-sup Есть вопросы?
						+section-title('Оставьте свои контакты')
					form.feedback-fields
						input(type="text" name="name" autocomplete="off").feedback-name
						input(type="phone" name="phone" autocomplete="off").feedback-phone
						input(type="submit" name="sendFeedback" value="Отправить").feedback-submit
					.feedback-privacy-policy Нажимая на кнопку "Отправить", вы даете согласие на обработку своих персональных данных.