section#wok.wok
	.wok-wrapper
		+section-title('Wok')
		.container
			.owl-carousel.goods-slider
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
				.owl-carousel-item
					+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )