script(src="../libs/jquery/jquery.min.js")
script(src="../libs/owlCarousel/owl.carousel.min.js")
block scripts
	
script(src="../js/main.js")

script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
