script(src="../libs/jquery/jquery.min.js")
script(src="../libs/owlCarousel/owl.carousel.min.js")
script(src="..libs/jquery-custom-scrollbar/jquery.custom-scrollbar.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous")

block scripts
script(src="../js/main.js")

script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
