script(src="../libs/jquery/jquery.min.js")
script(src="../libs/jquery-custom-scrollbar/jquery.custom-scrollbar.js")
script(src="../libs/jquery.nicescroll.js")

block scripts
	
script(src="../js/main.js")
script(src="../js/input.js")
script(src="../js/filter-menu.js")
script(src="../js/city-selector.js")
script(src="../js/accordeon.js")
script(src="../js/form-order.js")
script(src="../js/modal-window.js")
script(src="../js/button-file.js")
script(src="../js/products-table.js")
script(src="../js/fix-ie.js")
script(src="../js/drop-down.js")

script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
