extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Форма заказа';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui
			.ui-title Форма заказа
		.section-ui
			.order-block
				form.contact-form(action="")
					.container
						.row
							.col-md-4.col-xl-3.offset-md-1
								.form-group
									label.form-group__label Имя
									input(type="text" name='urer-name' class="form-input")
								.form-group
									label.form-group__label Телефон
									input(type="text" name='user-phone' class="form-input")
							.col-md-6.col-xl-6.offset-md-1
								label.form-group__label Адрес
								textarea.address-field(name="user-address", cols="20", rows="4")
						.row
							.col-12.col-md-10.offset-md-1
								.form-group
									label.form-group__label Комментарий
									textarea.address-field(name='urer-comment' rows="1")

