extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui
			.ui-title Кнопка
			+button('Тест', 'Тест')

		pre.
			+button('Тест', 'Тест')
