extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui
			.ui-title Цвета
			.title-3.title-3--bb Цвета для текста
			.color-item
				.color-box(style="background-color: #fff;")
				.color-name @white
			.color-item
				.color-box(style="background-color: #000;")
				.color-name @black
			.color-item
				.color-box(style="background-color: #6b96a5;")
				.color-name @footerText
			.color-item
				.color-box(style="background-color: #4d4d4d;")
				.color-name @benefitsText
		.section-ui
			.title-3.title-3--bb Цвета для заголовков
			.color-item
				.color-box(style="background-color: #84c604;")
				.color-name @pageTitle
			.color-item
				.color-box(style="background-color: #32505a;")
				.color-name @sectionTitle
		.section-ui
			.title-3.title-3--bb Текст в блоке ОТЗЫВЫ
			.color-item
				.color-box(style="background-color: #5e81a7;")
				.color-name @reviewAutor
			.color-item
				.color-box(style="background-color: #999999;")
				.color-name @reviewDate
			.color-item
				.color-box(style="background-color:#324d68;")
				.color-name @commentNum

		.section-ui
			.title-3.title-3--bb Фоны для секций
			.color-item
				.color-box(style="background-color: #f2f2f2;")
				.color-name @menuTopBorder
			.color-item
				.color-box(style="background-color: #84c604;")
				.color-name @hoverMenu
			.color-item
				.color-box(style="background-color: #1a2d34;")
				.color-name @footerBg

		.section-ui
			.title-3.title-3--bb Фоны для кнопок
			.color-item
				.color-box(style="background-color:#fd4f10;")
				.color-name @btnOrder
			.color-item
				.color-box(style="background-color: #5e81a7;")
				.color-name @btnSubcribe

		.section-ui
			.title-3.title-3--bb Фоны для лейблов
			.color-item
				.color-box(style="background-color: #da2024;")
				.color-name @redColor1
			.color-item
				.color-box(style="background-color: #bb1f24;")
				.color-name @redColor2
			.color-item
				.color-box(style="background-color: #f35847;")
				.color-name @redBadge1
			.color-item
				.color-box(style="background-color: #d74736;")
				.color-name @reddBadge2
			.color-item
				.color-box(style="background-color: #1fba0a;")
				.color-name @greendBadge
			.color-item
				.color-box(style="background-color: #4D9B04;")
				.color-name @veganBadge1
			.color-item
				.color-box(style="background-color: #1E7001;")
				.color-name @veganBadge2
		.section-ui
			.title-3.title-3--bb Стрелки и пагинации слайдера
			.color-item
				.color-box(style="background-color: #67b437;")
				.color-name @actievDot
			.color-item
				.color-box(style="background-color:#b3b3b3;")
				.color-name @passiveDot
			.color-item
				.color-box(style="background-color: #808080;")
				.color-name @activeArrow:
