extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Карточка товара';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.title Карточка товара

		//-карточка товара

		.section-ui

			+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590','veg')
		.section-ui
			pre.
				+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590','veg')

			+good-card('pizza/pizza1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590','hit')
		.section-ui
			pre.
				+good-card('pizza/pizza1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590','hit')

			+good-card('new/new1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590','', 'new')
		.section-ui
			pre.
				+good-card('new/new1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590','', 'new')

			+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')
		.section-ui
			pre.
				+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

		.section-ui
			+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )
		.section-ui
			pre.
				+good-card-whith-drop('С говядиной',  '400г.', '1350kKal', '430' )

			//- .good-card.good-card--drop
			//- 	.card__top(style="background: url(../img/wok/wok1.jpg);")
			//- 	.card__body.text-center
			//- 		.card__body-title Заголовок
			//- 		.card__body-description
			//- 			span 14
			//- 			span 550гр
			//- 		.card__body-addition
			//- 			.card__body-addition-calc
			//- 				span Добавить:
			//- 				.addition-calc-items
			//- 					.addition-amount +
			//- 						span.addition-amount__num 2
			//- 						+delete(class="addition-delete")
			//- 					.addition-sum 140
			//- 						sup руб
			//- 					.addition-count
			//- 						img(src="../img/icons/icon-add.png", alt="add")

			//- 			.card__body-addition-select
			//- 				.card-drop
			//- 					#card-drop__btn.card-drop__btn(data-role = "open")
			//- 					span.card-drop__item  Китайский соус
			//- 					#card-drop__list.card-drop__list.card-drop__list--hidden
			//- 						span.card-drop__item  Китайский соус
			//- 						span.card-drop__item  Китайский соус
			//- 						span.card-drop__item  Китайский соус

			//- 		.card__body-price
			//- 			span.price-sum 1500&nbsp;
			//- 				sup руб
			//- 			span.good-count
			//- 				+counter
			//- 	.card__btn
			//- 		.card__btn-text в корзину
