extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left
		.section-ui
			.container
				.owl-carousel.goods-slider

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')
					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')
					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')

					.owl-carousel-item
						+good-card('set/set1', 'Сет № 10', '72шт', '1560г.', '1700kKal', '1590')
