extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui HEADER-TOP
			.header-top
				.container
					.row
						.col-md-2
							.logo
								a(href="index.html")
									img(src="../img/logo.png", alt="logo")