extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui
			.title-2(style="margin-bottom:40px") HEADER-TOP
			.header-top
				.container
					.row
						.d-none.d-xl-block.col-xl-2
							.logo
								a(href="index.html")
									img(src="../img/logo.png", alt="logo")
						.d-none.d-xl-block.col-xl-6
							.header-top__center
								.header-top__center-address
									.address-icon
										+maps-icon
									.address-city.
										г. Курск, ул. Ленина, д.3
								.header-top__center-email
									.email-icon
										img(src="../img/icons/envelope.png", alt="")
									a(href="mailto:78003332222@yandex.ru").email-address 78003332222@yandex.ru
						.d-none.d-xl-block.col-xl-4
							.header-top__right
								.header-top__right-phone
									a(href="tel:88003332222").phone-number +7&nbsp;(800)&nbsp;333&nbsp;2&nbsp;222
									span Работаем с 11.00&nbsp;до&nbsp;23.00
								.header-top__right-btn
									.callback-btn Обратный звонок
