extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Навигационное меню';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui
			.ui-title Навигационное меню
		.section-ui
			.row
				.col-xl-12.col-lg-12
					.nav-menu
						ul.nav-menu-links
							li.nav-menu-links-item#nav-menu-links-menu
								a(href="#!") Меню
								i.fa.fa-angle-down.nav-menu-links__dropdown(aria-hidden="true")
								ul.nav-menu-links__dropmenu
									li.nav-menu-links__dropmenu-item Сеты
									li.nav-menu-links__dropmenu-item Роллы
									li.nav-menu-links__dropmenu-item Пицца
									li.nav-menu-links__dropmenu-item WOK
							li.nav-menu-links-item
								a(href="#!") Акции и скидки
							li.nav-menu-links-item
								a(href="#!") Доставка и оплата
							li.nav-menu-links-item
								a(href="#!") Новости
							li.nav-menu-links-item
								a(href="#!") Контакты
						ul.nav-menu-profile
							.icon-user
								img(src="../img/icons/user.png", alt="user")
							li.nav-menu-links-item.nav-menu-profile__cab
								a(href="#!") Кабинет
							+cart
							li.nav-menu-links-item.nav-menu-profile__cart
								a(href="#!") Корзина


		.section-ui
			pre.
				include ../sections/_nav-menu.pug