extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.container.container--left

		.section-ui
			.ui-title Компоненты страницы
			.title-2 Заголовок секции
		.section-ui
			+section-title('Заголовок')
		.section-ui
			pre.
				+section-title('Заголовок')
